body{
	background-color: #D0C5FD;
	font-family: 'Roboto', sans-serif;
}
h1{
	color: white;
	text-align: center;
	font-size: 2000%;
	margin-bottom: 1%;
	margin-top: 10%;
}
input[type=submit]{
	background-color: #D0C5FD;
	color: white;
	width: 25%;
	text-decoration: none;
	border: 2px solid white;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	display: inline-block;
}
form{
	text-align: center;
}

fieldset{
	border: none;
	margin: auto;
}

input[type=submit]:hover{
	background-color: white;
}
